# AddType application/x-httpd-php53 .php
php_flag magic_quotes_gpc Off

Options +FollowSymLinks
RewriteEngine On
RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ /GetChannelsList.php?username=bayramali.guzel&password=RpMb5JeayLqr&type=m3u_plus
&name=$4 [L
